@model XMedicalLite.Models.Paciente


<strong>
    <p>Datos Generales</p>
</strong>
<div class="aj-container">
    <div class="row">
        <div class="col">
            <strong>
                Numero de Referencia:
            </strong>
            @Model.Referencia
        </div>
        <div class="col">

        </div>
        <div class="col">
            <strong>
                Fecha:
            </strong>
            @DateTime.Now.ToShortDateString()
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <strong>
                Nombre:
            </strong>
            @Model.Nombres
        </div>
        <div class="col">
            <strong>
                Apellidos:
            </strong>
            @Model.Apellidos
        </div>
        <div class="col">
            <strong>
                Cedula:
            </strong>
            @Model.Cedula
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>
                Sexo:
            </strong>
            @Model.Sexo.Descripcion
        </div>
        <div class="col">
            <strong>
                Fecha nacimiento:
            </strong>
            @Model.FechaNacimiento.Date.ToShortDateString()
        </div>
        <div class="col">
            <strong>
                Estado civil:
            </strong>
            @Model.EstadoCivil.Descripcion
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>
                Direccion:
            </strong>
            @Model.Direccion
        </div>
        <div class="col">
            <strong>
                Telefono:
            </strong>
            @Model.Telefono
        </div>
        <div class="col">

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <strong>
                Aseguradora:
            </strong>
            @Model.Aseguradora
        </div>
        <div class="col">
            <strong>
                Numero NSS:
            </strong>
            @Model.NumeroNSS
        </div>
        <div class="col">

        </div>
    </div>
</div>