@model XMedicalLite.Models.Expediente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aseguradora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aseguradora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroNSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroNSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antecedentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antecedentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrecuenciaCardiaca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecionArteriar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecionArteriar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrecuenciaRespiratoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamenPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamenPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conducta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conducta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evolucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recomendacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recomendacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExpedienteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
