@model XMedicalLite.Models.Paciente

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>
        Editar datos del paciente
    </h4>
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PacienteID)

    <div class="row">
        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Referencia, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class="form-control" } })
        </div>
    </div>

    <div class="row">

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Sexo.Descripcion, htmlAttributes: new { @class = "" })</h5>
            @Html.DropDownList("SexoID", null, "Seleccionar sexo", htmlAttributes: new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.SexoID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.EstadoCivil.Descripcion, htmlAttributes: new { @class = "" })</h5>
            @Html.DropDownList("EstadoCivilID", null, "Seleccionar estado civil", htmlAttributes: new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.EstadoCivilID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-12">
            <h5>@Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-4">
            <h5>@Html.LabelFor(model => model.Municipio, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Municipio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Municipio, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-3">
            <h5>@Html.LabelFor(model => model.Aseguradora, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.Aseguradora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Aseguradora, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-3">
            <h5>@Html.LabelFor(model => model.NumeroNSS, htmlAttributes: new { @class = "" })</h5>
            @Html.EditorFor(model => model.NumeroNSS, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.NumeroNSS, "", new { @class = "text-danger" })
        </div>

        <div class="form-group offset-10">
            @Html.ActionLink("Cancelar", "Index", null, htmlAttributes: new { @class = "btn btn-danger" })
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </div>

        <div>
        </div>
    </div>
    }

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
